<div class="page-grid">
    <% if (loggedInChefVM === false) { %>
        <form action="/admin/chef-vm" method="post">
            <div>
                <label for="passwd">Password</label>
                <input type="password" id="passwd" name="passwd" placeholder="Enter your password" required>
            </div>
            <div>
                <a class="btn btn-danger" href="/admin">Exit</a>
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </form>
    <% } else if (loggedInChefVM === true && secretURL === '') { %>
        <section class="content">
            <form action="/admin/chef-vm" method="post">
                <button type="submit"><img src="https://cdn.discordapp.com/attachments/1071222520516194335/1071222551822475264/logo.png" alt="Logo"></button>
            </form>
        </section>
    <% } else { %>
        <section>
            <%= secretURL %>
        </section>
    <% } %>
</div>
