<h1 class="page-header">Admin Page</h1>
<div class="page-grid">
    <% if (loggedIn === false) { %>
        <section class="content">
            <h2>Log In</h2>
            <form action="/admin" method="post">
                <div>
                    <label for="passwd">Password</label>
                    <input type="password" id="passwd" name="passwd" placeholder="Enter your password" required>
                </div>
                <div>
                    <a class="btn btn-danger" href="/admin">Cancel</a>
                    <button class="btn btn-primary" type="submit">Log In</button>
                </div>
            </form>
        </section>
    <% } else if (loggedIn === true) { %>
        <section class="content">
            <h2>Machine Virtuel</h2>
            <form action="/admin" method="post">
                <h3>Admin VM</h3>
                <a href="/admin/chef-vm">Connect</a>
            </form>
        </section>
    <% } %>
</div>
