<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Escape From IUT</a>
        <ul>
            <li><a href="/game">Game</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/">Partage</a></li>
        </ul>
    </nav>
</header>
