<section>
    <h2>Présentation</h2>
    <p class="para">
        Opération: année réussie est un escape game sur navigateur,
        le joueur doit réussir des énigmes assez simples
        portant sur de la logique et des connaissances informatiques.
    </p>
</section>
<section>
    <h2>Le scénario</h2>
    <p>Vous êtes un élève du département informatique, malheureusement vos notes sont trop basses
        pour avoir ton année, vous êtes le seul parmis vos amis à ne pas avoir son année
        ,mais vous avez une idée, vous allez vous faufiler dans la salle des notes pour modifier
        vos notes et réussir votre année; pour ça, vous allez être aidé par vos amis.</p>
</section>
<a href="/game" id="jouera">Jouer</a>
