<h1 class="page-title">Chapter 3</h1>
<div class="page-grid">
    <section class="content diagonal-negative">
        <h2>Bilal</h2>
        <p>
            J’ai enfin le code, vous devinerez jamais, il l’a caché dans un poème…
            <% if (finalCode !== '') { %>
                Le code est <%= finalCode %>
            <% } %>
        </p>
    </section>
    <section class="content diagonal-positive">
        <h2>Mateo</h2>
        <p>Comment peut-on être sûr que ce soit le bon code?</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Axel</h2>
        <p>Il faut tester, pas d’autres choix…</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Vous</h2>
        <p>J’irais demain après le cours de PPP, j’irais tout seul, vous, montez la garde.</p>
    </section>
    <a class="btn btn-primary" href="/game/chapter4">Next Chapter</a>
</div>
