<h1 class="page-title">Chapter 1: Let's Escape From IUT?</h1>
<div class="page-grid">
    <h2></h2>
    <section class="content diagonal-negative">
        <h2>Intro</h2>
        <p>Tu es un élève du département informatique, malheureusement tes notes sont trop basses pour avoir ton année, tu es le seul parmis tes amis qui n’aura pas ton année, mais tu as une idée, tu veux te faufiler dans la salle des notes pour modifier tes notes et réussir ton année; pour ça, tu vas être aidé par tes amis.
            Le jeu se joue sur navigateur, il mêle logique et connaissance informatique.</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Élève</h2>
        <p>Bon, pour pénétrer dans la salle des notes, il nous faut le code, personne ne le connaît, excepté le chef du département; en plus, les anciens chefs de département ne le connaissent pas, il change chaque année !</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Julien</h2>
        <p>Il faudrait trouver une solution, personnellement, je sais que le chef de département tient un journal intime sur internet, sauf qu’il l’a mis en libre service… on peut y accéder avec un lien, un élève y a déjà accédé.</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Mathis</h2>
        <p>Pourquoi ne pas se faufiler dans son bureau quand il va aux toilettes? Il faut quelqu’un de discret… qui pourrait faire l’affaire?</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Lucas</h2>
        <p>Pourquoi vous me regardez tous, moi je vous suis pas j’ai des valeurs, il faut obtenir son diplôme sans tricher !</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Tyméo</h2>
        <p>Ça va toi à croire ta jamais triché, j’te rappelle qu' au bac de français ta simulé une diah…</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Lucas</h2>
        <p>C’est bon ta bouche, je vais le faire, si j’me fais choper je vous poucave tous !</p>
    </section>
    <section class="content diagonal-positive">
        <h2>L'ordi de Chef</h2>
        <p>Le chef du département part aux toilettes, Lucas se faufile discrètement, mais l’ordinateur du chef de département est verrouillé, il faut un code !</p>
        <p class="help">01000110 01101111 01110101 01101001 01101100 01101100 01100101 00100000 01100100 01100001 01101110 01110011 00100000 01101100 01100101 00100000 01100011 01101111 01100100 01100101 00100000 01110011 01101111 01110101 01110010 01100011 01100101 00101100 00100000 01101100 01100101 01110011 00100000 01100011 01101111 01101101 01101101 01100101 01101110 01110100 01100001 01101001 01110010 01100101 01110011 00100000 01110011 01101111 01101110 01110100 00100000 01110011 01101111 01110101 01110110 01100101 01101110 01110100 00100000 01110101 01110100 01101001 01101100 01100101 01110011 00100000 00100001</p>
        <!--Cookies?-->
    </section>
</div>
<h1 class="page-title">Chapter 2: Discussion sur le groupe snap</h1>
<div class="page-grid">
    <section class="content diagonal-positive">
        <h2>Lucas</h2>
        <p>Ouais les gaaaaars, vous savez que le chef du dép il à un chat qui s'appelle gnocchi, un poisson rouge qui s’appel Dora et une chèvre qui s’appel Milka?</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Julien</h2>
        <p>WESH COMMENT TU SAIS ÇA, T’A LE LIEN????</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Chiheb</h2>
        <p>Voilà mon gars, bon maintenant le plus important, t'as trouvé le code?</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Lucas</h2>
        <p>Quel code?</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Chiheb</h2>
        <p>...</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Mathias</h2>
        <p>On va te mêler Lucas</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Tyméo</h2>
        <p>Mais toi t'es vraiment à l’ouest t'es bête ou quoi, on doit avoir le code de la salle des notes, pas savoir si le chef du dép à une chèvre ou un poisson qui s’appel Dora</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Bilal</h2>
        <p>Bon bref envoie le lien, j’vais chercher le code</p>
    </section>
    <section class="content diagonal-positive">
<!--        Verify The Code-->
        <h2></h2>
        <p></p>
    </section>
</div>
<h1 class="page-title">Chapter 3</h1>
<div class="page-grid">
    <section class="content diagonal-negative">
        <h2>Bilal</h2>
        <p>J’ai enfin le code, vous devinerez jamais, il l’a caché dans un poème…</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Mateo</h2>
        <p>Comment peut-on être sûr que ce soit le bon code?</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Axel</h2>
        <p>Il faut tester, pas d’autres choix…</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Vous</h2>
        <p>J’irais demain après le cours de PPP, j’irais tout seul, vous, montez la garde.</p>
    </section>
</div>
<h1 class="page-title">Chapter 4</h1>
<div class="page-grid">
    <section class="content diagonal-positive">
        <h2>Julien</h2>
        <p>Alors c’était comment, t’as eu le temps ?</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Vous</h2>
        <p>Je vous avoue c’était chaud, j’ai entendu le chef du département revenir en même temps que je partais. Mais j’ai réussi !</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Lucas</h2>
        <p>Ouais c’est ça, tu me doit quelque chose maintenant. J’ai risqué mon année pour toi </p>
    </section>
    <section class="content diagonal-negative">
        <h2>Vous</h2>
        <p>Merci mon gars, t’inquiète je te revaudrais ça.</p>
    </section>
</div>
